<html>

<head>
<title>GrabTutor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/fonts.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>


<body>
<div class = "container" id = "_top">
	<div class = "row">
		<div id = "_mnav">
			<div id = "_logo">
				<img  id = "_logs" src = "imgs/grablog_b.png">
			</div>
			
			<div id = "_access">
				<div id = "_cont">Juan dela Cruz III </div>
			</div>
		</div>
	</div>
	<div class = "row">
		<div id = "_mwindow">
			<div id = "_glwind">
				<div id = "_lwind">
					<div id = "_propic">
						<img id = "_imgpic" src = "imgs/profile_pic.png">
					</div>

					<div id = "_proname">
						Juan dela Cruz III
					</div>

					<div class = "_line"></div>

					<div id = "_personal">
						<div class = "_headr"> Personal </div>



						<div class = "_subhdr" > History </div>
						<div class = "_subhdr" > Profile </div>
						<div class = "_subhdr" > Feedbacks </div>

					</div>

					<div class = "_line"></div>
						
					<div id = "_work">
						<div class = "_headr"> Work </div>


						<div class = "_subhdr" style = "font-family:Futura Heavy" > Appy for a Subject </div> 	
						<div class = "_subhdr" > Notifications </div>
						<div class = "_subhdr" > Join a Group</div>
						<div class = "_subhdr" > Work Load</div>


					</div>

				</div>
			</div>
			<div id = "_rwind">

			</div>


		</div>

		<div id = "_hlight"> </div>
	</div>
</div>

</body>

</html>
