<html>

<head>
<title>GrabTutor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/register.css">
  <link rel="stylesheet" href="css/fonts.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>

<body>
<div class = "container" id = "_tcont">

	<div id = "_regbox">
		<div id = "_logo">
			<img id = "_log" src =  "imgs/grablog.png">
		</div>



		<div id = "_logline">
			<div class = "_line" id = "_left"></div>
			<center>
			<div id = "_cont"> Sign-up</div>
			</center>
			<div class = "_line" id = "_right"></div>

		</div>


		<div id = "_formdat">
			<form>
				<div id = "_uname">
					<input type = "text" name = "UNAME" class = "_entry" placeholder="Username">
				</div>

				<div id = "_fullname">
					<input type = "text" id = "_fNam" name = "FNAME" class = "_entN" placeholder ="First Name">
					<input type = "text" id = "_lNam" name = "LNAME" class = "_entN" placeholder ="Last Name">
				</div>

				<div id = "_pword">
					<input type = "text" name = "PNAME" class = "_entry" placeholder = "Password">
				</div>

				<div id = "_rpword">
					<input type = "text" name = "RPNAME" class = "_entry" placeholder = "Re-enter Password">
				</div>

				<div id = "_emadd">
					<input type = "text" name = "EMADD" class = "_entry" placeholder = "E-mail Address">
				</div>

				<div id = "_idno">
					<input type = "text" name = "IDNO" class = "_entry" placeholder = "ID Number">
				</div>

				<div id = "_codeg">
					<input type = "text" name = "CODEG" class = "_entry" placeholder = "Course Degree">
				</div>				

				<div id = "_phoneno">
					<input type = "text" name = "PHONENO" class = "_entry" placeholder = "Phone Number (09xxxxxxxxx)">
				</div>

				<div id = "_bday">
					<input type = "text" name = "BDAY" class = "_entry" placeholder = "Birthday (dd-mm-yyyy)">
				</div>


				<div id = "_sub">
					<button type = "submit" id = "_submit"> REGISTER </button>
				</div>






			</form>
		</div>
	</div>

</div>
<div class = "container"  id = "_bcont">
	<div class = "_abcont">
		<a href = "#"> Terms of Service </a> |
		<a href = "#"> Privacy Policy </a> 
	</div>
	
	<div class = "_copyright">
		© GrabTutor 2017
	</div>

</div>
</body>

</html>